<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>View all users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <style>
		.c {
		    max-width: 500px;
 			margin: auto;
 			align-content: center;
		}
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}
		
		table.center {
		  margin-left: auto; 
		  margin-right: auto;
		}
</style>
</head>
<body>
	<div>
	<h2 class = "c"><a th:href="@{/}">Ticket Management System</a></h2><br>
	<!-- <h3><a th:href="@{/getAllTickets}">List of Tickets (JSON)</a></h3>  -->
	
	<table border="1"  class="center">
		<thead>
			<tr>
				<th>tid</th>
				<th>description</th>
				<th>priority</th>
				<th>solution</th>
				<th>status</th>
				<th>timestamp</th>
				<th>assignee_id</th>
				<th>user_id</th>
				<th>Actions</th>
			
			</tr>
		</thead>
		<tbody>
			<tr th:each="Ticket: ${ListTickets}">
				<td th:text="${Ticket.tid}"></td>
				<td th:text="${Ticket.description}"></td>
				<td th:text="${Ticket.priority}"></td>
				<td th:text="${Ticket.solution}"></td>
				<td th:text="${Ticket.status}"></td>
				<td th:text="${Ticket.timestamp}"></td>
				<td th:text="${Ticket.assignee_id}"></td>
				<td th:text="${Ticket.user_id}"></td>
				<td>
					<a th:href="@{'editTicket/' + ${Ticket.tid}}">Edit</a>
					&nbsp;
					<a th:href="@{'deleteTicket/' + ${Ticket.tid}}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>