<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>View all users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <style>
		.c {
		    max-width: 500px;
 			margin: auto;
 			align-content: center;
		}
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}
		
		table.center {
		  margin-left: auto; 
		  margin-right: auto;
		}
</style>
</head>
<body>
	<div class = "c">
	<h2><a th:href="@{/}">Ticket Management System</a></h2><br>
	<!-- <h4><a th:href="@{/getAllUsers}">List of Users (JSON)</a></h4> -->
	
	<table border="1"  class="center">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Department</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user: ${ListUsers}">
				<td th:text="${user.uid}"></td>
				<td th:text="${user.name}"></td>
				<td th:text="${user.Department}"></td>
				<td>
					<a th:href="@{'editUsers/' + ${user.uid}}">Edit</a>
					&nbsp;
					<a th:href="@{'deleteUser/' + ${user.uid}}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>